@charset "UTF-8";
#sidenav #leftmenuinnerinner {
  position: relative;
}
#sidenav #leftmenuinnerinner > .-width-calc {
  position: absolute;
  z-index: -1;
  top: -1px;
  height: 1px;
  width: 100% !important;
  overflow: hidden;
  font-size: 1px;
  line-height: 1px;
}
#sidenav #leftmenuinnerinner a {
  position: relative;
  padding: 5px 15px 5px 40px;
  width: 100%;
}
#sidenav #leftmenuinnerinner a.overview_header.active {
  background-color: #CCCCCC !important;
  color: #000000 !important;
}
.darktheme #sidenav #leftmenuinnerinner a.overview_header.active {
  background-color: #38444d !important;
  color: #dddddd !important;
}
#sidenav #leftmenuinnerinner a.overview_header.active.active-links-absent {
  background-color: #04AA6D !important;
  color: #FFFFFF !important;
}
.darktheme #sidenav #leftmenuinnerinner a.overview_header.active.active-links-absent {
  background-color: #04AA6D !important;
  color: #FFFFFF !important;
}
#sidenav #leftmenuinnerinner a > .w3s-accordion {
  position: absolute;
  right: 0;
  top: 0;
}
#sidenav #leftmenuinnerinner a > .w3s-accordion:after {
  display: block;
  font-family: fontawesome;
  content: "\e809";
  opacity: 0.1;
  position: absolute;
  top: 4px;
  right: 7px;
  font-size: 18px;
}
.darktheme #sidenav #leftmenuinnerinner a > .w3s-accordion:after {
  opacity: 0.3;
}
#sidenav #leftmenuinnerinner a:not(.no-checkmark):before {
  display: block;
  font-family: fontawesome;
  content: "\e82b";
  opacity: 0.1;
  position: absolute;
  top: 4px;
  left: 12px;
  margin-right: 3px;
  font-size: 18px;
  z-index: 3;
}
.darktheme #sidenav #leftmenuinnerinner a:not(.no-checkmark):before {
  opacity: 0.3;
}